:root {
  --primary: #1653FD;
  --primary-light: #6FD1EF;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, var(--primary-light), var(--primary));
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-family: 'Krub', sans-serif !important;
}

.board {
  min-height: 80vh;
  min-width: 90vw;
  box-shadow: 0 3px 36px rgba(0, 0, 0, 0.16);
  background-color: white;
  background-image: url('../img/bg.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 70%;
  margin: 10vh 5vw;
  padding: 100px 100px;
}

.feature-img {
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  padding: 20px;
  width: 130px;
  height: 130px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.34);
}

p {
  font-size: 23px;
  line-height: 37px;
  font-weight: 400;
  color: #3A3939;
  max-width: 80%;
}

.feature-img + p {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 62px;
}

small {
  display: block;
  font-size: 22px;
  color: #757474;
  margin-bottom: 35px;
}

.cta {
  background: #00FF4C;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
  padding: 7px 20px;
  margin-top: 20px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.22);
}

.cta:hover {
  background: #01AC0D;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  word-spacing: 2px;
}