{% extends "haxtor/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="board about custom-slider">
    <div class="board-wrapper center-align">
        <h2 class="center-align">
            Ludescite is not just a website, it is a dream!
        </h2>
        <p class="flow-text">
            It started with a rag-tag group of four (foolish) friends who were enthusiastic about learning all there is to be learned!
        </p>
        <p class="flow-text">
            But it was not long before the dark truths of the Education system dawned upon us. Education was never made for us. Well, not for us specifically.
        </p>
        <p class="flow-text">
            We are surrounded by huge groups of students wherever we go. Be it school, tutions or academies, we can never get enough attention from our peers. But what happens if there is a source which not only teaches you things necessary for your growth but also <em>learns</em> about you as you go!
        </p>
        <p class="flow-text">
            The idea was as appealing to us as any ice-cream sunday is, thus we picked up our laptops, grinded our gears and started working on this dream project.
        </p>
        <p class="flow-text">
            Hack-a-bit was the perfect motivator to the cause. Without it, this project might never have seen the light.
        </p>
    </div>
</div>
{% endblock  %}
    