
{% extends "haxtor/base.html" %}
{% load staticfiles %}
{% block body_block %}


<div class="board">
        <div class="board-wrapper">
        

<!-- main-body -->
<div class="row">

    <!-- introduction ============================================== -->
    <div class="col s12 m7 scene-element scene-element--fadeinright">
        <h1>Learn and Play with Ludescite!</h1>
        <small>Learn it, Earn it, Own it</small>
        <p>
            Learning doesn't always need to be boring.
            Best part is? It is completely free!
        </p>
    </div>

    <!-- Features ============================================== -->
    <div class="col s12 m5 scene-element scene-element--fadeinup">
        <div class="row">
            <div class="col s12 m4">
                <div class="feature">
                    <img src= "{% static "img/icon1.svg" %}" alt="Feature Image" class="feature-img">
                    <p>Zero Supervision Required</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="feature">
                    <img src="{% static "img/performance.svg" %}" alt="Feature Image" class="feature-img">
                    <p>Customized Learning Curve</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="feature">
                    <img src="{% static "img/puzzle.svg" %}" alt="Feature Image" class="feature-img">
                    <p>Play as you Learn!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- cta ============================================== -->
    <div class="col s12 scene-element scene-element--fadeinright">
        <a href="{% url 'haxtor:userRegister' %}" class="waves-effect waves-light cta transition">Register Now!</a>
    </div>
</div>
<!-- main-body ends here -->
    
        
</div>
</div>

{% endblock  %}